body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh; /* we say here to use the entire viewport height, viewport is the visible area of the browser window */
}

main {
  flex: 1; /* we say here to main to use 1 space between header and footer */
}

.my-button-color {
  background-color: #ffc000;
}

.products {
  display: flex;
  flex-wrap: wrap; /* if no space, move the next elemente to a new line */
  justify-content: center; /* moves child elements from this div to the center */
}

.product {
  border: 1px #404040 solid;
  margin: 1rem; /* 1rem space between divs */
}

.product img {
  width: 100%; /* this makes the images fit at 100% in our browser instead of showing them in real size */
  max-width: 400px; /* max widht for img */
}

.product-info {
  padding: 1rem;
}

.rating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%; /* uses the 100% available from the md={6} set in Col component in the ProductScreen*/
}

img-thumbnail {
  height: 80px;
}
